
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Montserrat-SemiBold.otf')  format('opentype'),
	     url('Montserrat-SemiBold.woff') format('woff'), url('Montserrat-SemiBold.ttf')  format('truetype'), url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
