<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LegalKaam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../admin/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <%- include("../partials/admin/main.ejs") %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Add a Service</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Services</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Service</li>
                </ol>
              </nav>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <form class="forms-sample" action = "/new/subcat/" method = "post">
                      <div class="form-group">
                        <label>Select Category</label>
                        <select class="js-example-basic-single" name="subcat" style="width:100%">
                          <% subcats.forEach((subcat) => { %>
                            <option value = "<%= subcat._id %>"><%= subcat.name %></option>
                        <% }) %>
                        </select>
                      </div>
                        <div class="form-group">
                          <label for="exampleInputUsername1">Add a new service</label>
                          <input type="text" name = "subcatname" class="form-control" id="exampleInputUsername1" placeholder="Service Name Here..">
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Steps</label>
                          <input type="text" class = "form-control my-2" name="step" id="" placeholder = "enter Step 1">
                          <input type="text" class = "form-control my-2" name="step" id="" placeholder = "enter Step 2">
                          <input type="text" class = "form-control my-2" name="step" id="" placeholder = "enter Step 3">
                          <input type="text" class = "form-control my-2" name="step" id="" placeholder = "enter Step 4">
                          <input type="text" class = "form-control my-2" name="step" id="" placeholder = "enter Step 5">
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Requirements</label>
                          <textarea class="form-control" name = "requirements" id="editor1" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Documents Required</label>
                          <input type="text" class = "form-control" name="head1" id="" placeholder = "enter document 1 heading">
                          <textarea name="desc1" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "enter document 1 desc"></textarea>
                          <input type="text" class = "form-control" name="head2" id="" placeholder = "enter document 2 heading">
                          <textarea name="desc2" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "enter document 2 desc"></textarea>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Subscription Amount</label>
                          <input type="number" class = "form-control" name="subs" id="" placeholder = "enter Subscription Amount">
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Benefits from Subscription</label>
                          <input type="text" class = "form-control my-2" name="benefit" id="" placeholder = "enter Benefit 1">
                          <input type="text" class = "form-control my-2" name="benefit" id="" placeholder = "enter Benefit 2">
                          <input type="text" class = "form-control my-2" name="benefit" id="" placeholder = "enter Benefit 3">
                          <input type="text" class = "form-control my-2" name="benefit" id="" placeholder = "enter Benefit 4">
                          <input type="text" class = "form-control my-2" name="benefit" id="" placeholder = "enter Benefit 5">
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Important</label>
                          <textarea class="form-control" name = "important" id="editor1" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea1">Enter Documents Required</label>
                          <input type="text" class = "form-control" name="bhead1" id="" placeholder = "Enter Basic Feature 1 heading">
                          <textarea name="bdesc1" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "Enter Basic Feature 1 desc"></textarea>
                          <input type="text" class = "form-control" name="bhead2" id="" placeholder = "Enter Basic Feature 2 heading">
                          <textarea name="bdesc2" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "Enter Basic Feature 2 desc"></textarea>
                          <input type="text" class = "form-control" name="bhead3" id="" placeholder = "Enter Basic Feature 3 heading">
                          <textarea name="bdesc3" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "Enter Basic Feature 3 desc"></textarea>
                          <input type="text" class = "form-control" name="bhead4" id="" placeholder = "Enter Basic Feature 4 heading">
                          <textarea name="bdesc4" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "Enter Basic Feature 4 desc"></textarea>
                          <input type="text" class = "form-control" name="bhead5" id="" placeholder = "Enter Basic Feature 5 heading">
                          <textarea name="bdesc5" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "Enter Basic Feature 5 desc"></textarea>
                          <input type="text" class = "form-control" name="bhead6" id="" placeholder = "Enter Basic Feature 6 heading">
                          <textarea name="bdesc6" class = "form-control my-2" id="" cols="30" rows="10" placeholder = "Enter Basic Feature 6 desc"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary py-3 btn-block ">Submit</button>
                      </form>
                </div>
            </div>
          </div>
      </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../admin/vendors/select2/select2.min.js"></script>
    <script src="../../admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../admin/js/off-canvas.js"></script>
    <script src="../../admin/js/hoverable-collapse.js"></script>
    <script src="../../admin/js/misc.js"></script>
    <script src="../../admin/js/settings.js"></script>
    <script src="../../admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../admin/js/file-upload.js"></script>
    <script src="../../admin/js/typeahead.js"></script>
    <script src="../../admin/js/select2.js"></script>
    <!-- End custom js for this page -->
    <script>
       function addFields() {
        debugger;
        var number = document.getElementsByClassName("nooftickets")[0].value;
        var container = document.getElementById("subcontainer");
        container.innerHTML = '';
        for (i = 0; i < number; i++) {
          container.appendChild(document.createTextNode("Step " + (i + 1) + " "));
          var input = document.createElement("input");
          input.type = "text";
          input.style.margin = "5px 0";
          input.style.width = "100%";
          input.name = "name";
          //input.required= true;
          container.appendChild(input);
          container.appendChild(document.createElement("br"));
        }
      }

    </script>
  </body>
</html>