<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LegalKaam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../admin/images/favicon.png" />
  </head>
  <body>
    <%- include("../partials/admin/main.ejs") %>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../admin/vendors/select2/select2.min.js"></script>
    <script src="../../admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../admin/js/off-canvas.js"></script>
    <script src="../../admin/js/hoverable-collapse.js"></script>
    <script src="../../admin/js/misc.js"></script>
    <script src="../../admin/js/settings.js"></script>
    <script src="../../admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../admin/js/file-upload.js"></script>
    <script src="../../admin/js/typeahead.js"></script>
    <script src="../../admin/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>