<footer class="footer has-dot-pattern sec-pad" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget about-widget">
                    <a href="index.html"><img src="img/logo.png" alt="Awesome Image"/></a>						
                    <p style="text-align: justify;">LegalKaam is one stop solution for all your financial, legal and consulting needs. We are cost effective and efficient platform to help you in establishing or running your business without stressing about the day to day activities, compliances and taxation.</p>
                    
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget link-widget">
                    <div class="sec-title white medium">
                        <h2>Usefull Links</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <div class="clearfix">
                        <div class="col-md-6">
                            <ul class="links">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">GST Regisration</a></li>
                                <li><a href="#">LLP Regisstration</a></li>
                                <li><a href="#">Property Matters</a></li>
                                <li><a href="#">Meet Team</a></li>
                            </ul><!-- /.links -->		
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <ul class="links">
                                <li><a href="#">Loans</a></li>
                                <li><a href="#">Import Export Code</a></li>
                                <li><a href="#">GST Filing</a></li>
                                <li><a href="#">Company Closing</a></li>
                                <li><a href="#">Preparation Of Reports</a></li>
                                <li><a href="#">ITR - 1 (Salaried)</a></li>
                            </ul><!-- /.links -->		
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                    
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget about-widget">
                    <div class="sec-title white medium">
                        <h2>Contact Us</h2>
                        <span class="decor-line">
                            <span class="decor-line-inner"></span>
                        </span>
                    </div><!-- /.sec-title -->
                    <ul class="contact-info">
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-map-marker"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p>ABCD, New Delhi, India</p>
                            </div><!-- /.text-box -->
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-phone"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p>+91 999-090-5006</p>
                            </div><!-- /.text-box -->
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                            </div><!-- /.icon-box -->
                            <div class="text-box">
                                <p>legalkaam@gmail.com</p>
                            </div><!-- /.text-box -->
                        </li>							
                    </ul>
                    <div class="social pull-left">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul><!-- /.list-inline -->
                    </div><!-- /.social pull-right -->
                </div><!-- /.single-footer-widget -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer><!-- /.footer -->

<section class="footer-bottom">
    <div class="container">
        <div class="copyright">
            <p>© 2022 LegalKaam. All rights reserved.</p>
        </div><!-- /.copyright pull-left -->
    </div><!-- /.container -->
</section><!-- /.footer-bottom -->