<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Enter category</h1>
    <form action = "/new/category" method="post">
        <input type="text" name="name" id="" placeholder = "enter Name of category">
        <button type="submit">Submit Category</button>
    </form>

    <h1>Add sub Category</h1>
    <form action="/new/subcat" method = "post">
        <select name="subcat" id="">
            <% subcats.forEach((subcat) => { %>
                <option value = "<%= subcat._id %>"><%= subcat.name %></option>
            <% }) %>
        </select>
        <input type="text" name = "subcatname" placeholder = "enter subcategory Name">
        <input type="text" name="desc" id="" placeholder = "Enter Description">
        <input class = "nooftickets" type="text" placeholder = "Enter no. of Steps">
        <a href="#" id="names" onclick="addFields();">Enter Steps</a>
        <div id='container' />
        </div>
        <br/>
        <input type="text" name = "requirements" placeholder = "Any Requirements or anything else?">
        <input class = "noofRequirements" type="text" placeholder = "Enter no. of Requirements">
        <a href="#" id="requirements" onclick="addRequirementsFields();">Enter Requirements</a>
        <div id='requirementscontainer' />
        </div>
        <br/>
        <button type="submit">Submit Sub Category</button>
    </form><br><br>

    <form action="/new/document" method = "post">
      <select name="subtype" id="">
        <% types.forEach((type) => { %>
          <option value="<%= type._id %>"><%= type.name %></option>
        <% }) %>
      </select>
      
    </form>

      <script>
          function addFields() {
        debugger;
        var number = document.getElementsByClassName("nooftickets")[0].value;
        var container = document.getElementById("container");
        container.innerHTML = '';
        for (i = 0; i < number; i++) {
          container.appendChild(document.createTextNode("Step " + (i + 1) + " "));
          var input = document.createElement("input");
          input.type = "text";
          input.name = "name";
          //input.required= true;
          container.appendChild(input);
          container.appendChild(document.createElement("br"));
        }
      }

      function addRequirementsFields() {
        debugger;
        var number = document.getElementsByClassName("noofRequirements")[0].value;
        var container = document.getElementById("requirementscontainer");
        container.innerHTML = '';
        for (i = 0; i < number; i++) {
          container.appendChild(document.createTextNode("Requirement " + (i + 1) + " "));
          var input = document.createElement("input");
          input.type = "text";
          input.name = "requirement";
          //input.required= true;
          container.appendChild(input);
          container.appendChild(document.createElement("br"));
        }
      }

      </script>

</body>
</html>