<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Enter category</h1>
    <form action = "/new/category" method="post">
        <input type="text" name="name" id="" placeholder = "enter Name of category">
        <button type="submit">Submit Category</button>
    </form>

    <h1>Add sub Category</h1>
    <form action="/new/subcat" method = "post">
        <select name="subcat" id="">
            <% subcats.forEach((subcat) => { %>
                <option value = "<%= subcat._id %>"><%= subcat.name %></option>
            <% }) %>
        </select>
        <input type="text" name = "subcatname" placeholder = "enter subcategory Name">
        <input type="text" name="desc" id="">
        <button type="submit">Submit Sub Category</button>
    </form>
</body>
</html>