@font-face {
  font-family: 'fnIcon';
  src:  url('fonts/fnIcon.eot?ifbfrt');
  src:  url('fonts/fnIcon.eot?ifbfrt#iefix') format('embedded-opentype'),
    url('fonts/fnIcon.ttf?ifbfrt') format('truetype'),
    url('fonts/fnIcon.woff?ifbfrt') format('woff'),
    url('fonts/fnIcon.svg?ifbfrt#fnIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fn-icon-"], [class*=" fn-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fnIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fn-icon-arrows:before {
  content: "\e914";
}
.fn-icon-graphic:before {
  content: "\e915";
}
.fn-icon-graphic-1:before {
  content: "\e916";
}
.fn-icon-graphic-2:before {
  content: "\e917";
}
.fn-icon-light:before {
  content: "\e918";
}
.fn-icon-location:before {
  content: "\e919";
}
.fn-icon-people:before {
  content: "\e91a";
}
.fn-icon-school:before {
  content: "\e91b";
}
.fn-icon-statistical-chart:before {
  content: "\e91c";
}
.fn-icon-magnifier:before {
  content: "\e913";
}
.fn-icon-quotation-mark:before {
  content: "\e911";
}
.fn-icon-safe:before {
  content: "\e90f";
}
.fn-icon-insurance-sign:before {
  content: "\e910";
}
.fn-icon-buildings:before {
  content: "\e900";
}
.fn-icon-circle:before {
  content: "\e901";
}
.fn-icon-commerce:before {
  content: "\e902";
}
.fn-icon-link:before {
  content: "\e903";
}
.fn-icon-money:before {
  content: "\e904";
}
.fn-icon-money-1:before {
  content: "\e905";
}
.fn-icon-money-2:before {
  content: "\e906";
}
.fn-icon-profile:before {
  content: "\e907";
}
.fn-icon-technology:before {
  content: "\e908";
}
.fn-icon-tool:before {
  content: "\e909";
}
.fn-icon-tool-1:before {
  content: "\e90a";
}
.fn-icon-up-arrow:before {
  content: "\e90b";
}
.fn-icon-location-placeholder:before {
  content: "\e90c";
}
.fn-icon-phone-call:before {
  content: "\e90d";
}
.fn-icon-time-control-tool:before {
  content: "\e90e";
}
.fn-icon-international-delivery:before {
  content: "\e912";
}

